.ticket-list {
    margin: 1em;
    border-collapse: collapse;
    width: 100%;
    
    table-layout: fixed;
}

/*Table*/
.ticket-table{
    border: 'black solid 1px';
}
tr{
    border-bottom: 1px solid #ddd;
}
tr:last-child{
    border-bottom: none;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #fff;
}
tr:hover{
    background-color: #f7f7f7;
}
td{
    padding: 10px;
}

/*Table Header*/
.ticket-table th{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}







